body {
  padding: 0 5%;
}
body #menu {
  height: 15%;
  min-height: 85px;
}
body #menu .input {
  width: 100%;
  height: 50%;
  padding: 5px 0;
}
body #menu .input .input-text {
  width: 80%;
  float: left;
}
body #menu .input .input-text .input-group {
  width: 100%;
}
body #menu .input .input-text .input-group span {
  width: 8%;
}
body #menu .input .input-btn {
  width: 10%;
  float: left;
}
body #menu .input .input-btn button {
  width: 85%;
  margin-left: 15%;
}
body #parsed-url {
  width: 100%;
  margin: 0;
  padding: 8px;
  display: none;
}
body #infos {
  height: 50%;
  min-height: 200px;
  padding: 5px 0;
}
body #infos #log-area {
  width: 69%;
  height: 100%;
  resize: none;
  float: left;
  overflow-y: auto;
}
body #infos #segment-infos {
  padding-left: 1%;
  float: left;
  width: 30%;
}
body #infos #segment-infos #segment-map {
  width: 100%;
  height: 90%;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
body #infos #segment-infos #segment-map::-webkit-scrollbar {
  display: none;
}
body #infos #segment-infos #segment-map table {
  width: 100%;
  min-height: 100%;
}
body #infos #segment-infos #segment-map table tbody tr td {
  text-align: center;
  font-size: 0.5em;
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}
body #infos #segment-infos #segment-map table tbody tr td.td-last-col {
  border-right: none;
}
body #infos #segment-infos #segment-map table tbody tr td.td-last-row {
  border-bottom: none;
}
body #infos #segment-infos #segment-map table tbody tr td.segment-done {
  background-color: lightgreen;
}
body #infos #segment-infos #segment-map table tbody tr td.segment-downloading {
  background-color: orange;
}
body #infos #segment-infos #video-info {
  height: 10%;
  width: 100%;
  padding: 3px 0;
}
body #infos #segment-infos #video-info p {
  margin: 0 auto;
  text-align: center;
}
body #infos #segment-infos #video-info p strong {
  color: red;
}
body #progress-div {
  padding-top: 5px;
  width: 100%;
}
body #progress-div #download-progress {
  width: 100%;
}
